select {
  font-size: 16px;
}

.savedTitle {
  font-style: italic;
  font-family: 'Comic Sans';
  color: DarkBlue;
}

.show-button {
  font-size: 16px;
  color: DarkGreen;
  font-weight: bold;
}

.delete-button {
  font-size: 16px;
  color: Red;
  font-weight: bold;
}

.confirm-message {
  font-size: 16px;
  color: DarkRed;
  font-style: italic;
}

.confirm-message .highlight {
  font-size: 18px;
  color: Crimson;
  font-style: italic;
  font-weight: bold;
}