.saved-route-message {
  font-style: italic;
}

.save-form label {
  font-size: 18px;
  margin-bottom: 5px;
}

.save-form input {
  font-size: 16px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.save-button {
  font-weight: bold;
  font-size: 18px;
  color: black;
  max-width: 250px;
}


