.saved-container {
  display: flex;
  flex-direction: column;
  gap: 10 px;
  padding: 10px;
  max-height: 100%;
  align-items: start;
}

.save-form {
  align-self: start;
  justify-self: center;
}

.dropdown {
  grid-row: 1;
  align-self: start;
  justify-self: center;
}

.login-advertisement {
  grid-row: 1 /span 2;
  width: 100%;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-family: "Comic-Sans";
  font-style: italic;
  font-size: 30px;
  color: MediumVioletRed;
}